In [2]:
import pandas as pd

# Carga de archivos

In [9]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
#ruta al dataset excel
path_dataset = './data/data.xlsx'
df = pd.read_excel(path_dataset, index_col=None, sheet_name='datos')

In [5]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
#ruta al dataset csv
path_dataset = './data/data.csv'
df = pd.read_csv(path_dataset)

In [10]:
df

   col1   col2   col3
0     1      1      1
1     2      2      2
2     1      2      3
3     3      3      3